.App {
  text-align: center;
  background-color: #30003f;
  color: #fefefe;
}

.text{
  border-radius: 7px;
  padding: 0.7rem;
  margin: 0;
}

.box{
  min-width: 50vw;
}

.App-header {
  background-color: #fefefe;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}
